= form_for @feedback_response do |f|
  - if @feedback_response.errors.any?
    #error_explanation
      %h2= "#{pluralize(@feedback_response.errors.count, "error")} prohibited this feedback_response from being saved:"
      %ul
        - @feedback_response.errors.full_messages.each do |msg|
          %li= msg

  - if @new_user
    .field
      %label Full name
      = text_field_tag :full_name, nil, required: true
    .field
      %label Club
      = select_tag :club, options_from_collection_for_select(@clubs, :name, :name), required: true
  .field
    %label
      Please rate from -5 to 5 how satisfied you are with today's club meeting
      %small Required
      .subheader -5: this is terrible | 0: no strong feelings | 5: this is amazing
    = f.number_field :rating, min: -5, value: 0, max: 5, required: true
  .actions
    = f.submit 'Save'
