.modal.modal-scrollable.show
  .modal-dialog
    .modal-content
      = form_for feedback_response do |f|
        .modal-header
          %h4.modal-title We <span class="icon icon-heart"></span> Feedback
        .modal-body
          - if feedback_response.errors.any?
            #error_explanation
              %h2
                #{pluralize(feedback_response.errors.count, "error")}
                prohibited this feedback_response from being saved
              %ul
                - feedback_response.errors.full_messages.each do |msg|
                  %li= msg
          - if current_member.user.nil? || current_member.user.name.blank?
            .form-group
              %label Full name
              = text_field_tag :name, nil, class: 'form-control',
                placeholder: 'Zaphod Beeblebrox', required: true
          - if current_member.club.blank?
            .form-group
              %label Club
              = select_tag :club_id, options_from_collection_for_select(clubs,
                :id, :name), class: 'form-control', prompt: 'Choose one',
                required: true
          .form-group
            %label What is one thing that we could improve on?
            = f.text_area :one_thing_to_improve_on, class: 'form-control',
              required: true
          .form-group
            %label What is one thing that we did well?
            = f.text_area :one_thing_done_well, class: 'form-control',
              required: true
          .form-group
            %label
              Describe in one sentence what you worked on today. Include any
              links if applicable.
            = f.text_area :project_description, class: 'form-control',
              required: true
          .form-group
            %label
              Please rate from -5 to 5 how satisfied you are with today's club
              meeting
            .col-xs-6
              = f.range_field :rating, min: -5, value: 0, max: 5,
                required: true
          .form-group
            %label Anything else you would like to share with us?
            = f.text_area :anything_else_to_share, class: 'form-control'
        .modal-body
          = f.submit 'Submit Feedback', class: 'btn btn-default'
