<p id="notice"><%= notice %></p>

<h1>Listing Responses</h1>

<table>
  <thead>
    <tr>
      <th>Club</th>
      <th>Name</th>
      <th>Feedback</th>
      <th>Phone number</th>
      <th>Rating</th>
      <th>Email</th>
      <th>Misc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @responses.each do |response| %>
      <tr>
        <td><%= response.club %></td>
        <td><%= response.name %></td>
        <td><%= response.feedback %></td>
        <td><%= response.phone_number %></td>
        <td><%= response.rating %></td>
        <td><%= response.email %></td>
        <td><%= response.misc %></td>
        <td><%= link_to 'Show', response %></td>
        <td><%= link_to 'Edit', edit_response_path(response) %></td>
        <td><%= link_to 'Destroy', response, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Response', new_response_path %>
