<p id="notice"><%= notice %></p>

<p>
  <strong>Club:</strong>
  <%= @response.club %>
</p>

<p>
  <strong>Name:</strong>
  <%= @response.name %>
</p>

<p>
  <strong>Feedback:</strong>
  <%= @response.feedback %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @response.phone_number %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @response.rating %>
</p>

<p>
  <strong>Email:</strong>
  <%= @response.email %>
</p>

<p>
  <strong>Misc:</strong>
  <%= @response.misc %>
</p>

<%= link_to 'Edit', edit_response_path(@response) %> |
<%= link_to 'Back', responses_path %>
