%p#notice= notice
%p
  %strong Club:
  = @response.club
%p
  %strong Name:
  = @response.name
%p
  %strong Feedback:
  = @response.feedback
%p
  %strong Phone number:
  = @response.phone_number
%p
  %strong Rating:
  = @response.rating
%p
  %strong Email:
  = @response.email
%p
  %strong Misc:
  = @response.misc
= link_to 'Edit', edit_response_path(@response)
|
= link_to 'Back', responses_path
