.row
  .medium-10.medium-centered.banner.hide-for-small.text-center.columns
    %h1 We 3 Feedback!
    %p
      We want to make your experience as great as possible and your
      feedback is an immensely important part of that process. Please answer
      in as much detail as you feel comfortable.
  .medium-10.medium-centered.columns
    = form_for(@form_response, html: {class: 'feedback-form'}) do |f|
      %fieldset
        - if @form_response.errors.any?
          #error_explanation
            %h2
              = pluralize(@form_response.errors.count, "error")
              prohibited this response from being saved:
            %ul
              - @form_response.errors.full_messages.each do |message|
                %li= message
        %legend.show-for-small-only We <3 Feedback
        .small-12.columns
          .field
            %label 
              First and last name
              %small Required
            = f.text_field :name, required: true
        - unless @club
          .small-12.columns
            .field
              %label 
                Club
                %small Required
              = f.select :club, @clubs
        .small-12.columns
          .field
            %label 
              Feedback
              %small Required
            = f.text_area :feedback, required: true
        .small-12.columns
          .field
            %label 
              Please rate from -5 to 5 how satisfied you are with today's club meeting
              %small Required
              .subheader -5: this is terrible | 0: no strong feelings | 5: this is amazing
            = f.text_field :rating, required: true
        .small-12.columns
          .field
            = f.label 'Anything else you would like to share with us?'
            = f.text_area :misc
        .actions
      = f.submit 'Submit Feedback', class: 'button large submit-btn'
