%p#notice= notice
%p
  %strong Club:
  = @form_response.club
%p
  %strong Name:
  = @form_response.name
%p
  %strong Feedback:
  = @form_response.feedback
%p
  %strong Phone number:
  = @form_response.phone_number
%p
  %strong Rating:
  = @form_response.rating
%p
  %strong Email:
  = @form_response.email
%p
  %strong Misc:
  = @form_response.misc
= link_to 'Edit', edit_form_response_path(@form_response)
|
= link_to 'Back', form_responses_path
