!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title hackEDU Labs
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = render 'layouts/analytics_head'
    = csrf_meta_tags
  - if current_leader.nil?
    %body
      = render 'layouts/flash'
      = yield
      = render 'layouts/analytics_body'
  - else
    %body.with-top-navbar
      = render 'layouts/flash'
      %nav.navbar.navbar-inverse.navbar-fixed-top
        .container.container-spacious
          .navbar-header
            %button{type: 'button', class: 'navbar-toggle collapsed',
             'data-toggle': 'collapse', 'data-target': '#navbar',
             'aria-expanded': 'false', 'aria-controls': 'navbar'}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            = link_to root_path, class: 'navbar-brand navbar-brand-emphasized' do
              %span.icon.icon-line-graph.navbar-brand-icon
              Labs
          #navbar.navbar-collapse.collapse
            = render 'layouts/nav_items'

      .container.container-spacious
        = yield
      = render 'layouts/analytics_body'
